@model  MovieStore.Entities.Movie

@{
    ViewBag.Title = "AddReview";
}

<h2>@Model.Name Review</h2>

@using (Html.BeginForm())
{
    <div>
        <input type="text" name="Rating" />
    </div>
    <div>
        <textarea name="Body"></textarea>
    </div>
    <div>
        <input type="button" formmethod="post" value="Add"/>
    </div>
}

